/* =============================================================================
   variables
   ========================================================================== */

// Colors
   
$linkColor:#000;
$bodyColor:#333;
$headingColor:#4D4645;
$introColor:#9b999b;
$smallColor:#4D4645;
$tableHead:#4D4645;